/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2014, 3:20:55 PM
    Author     : admin
*/

/* BS V1.0 */
.success_alert {background-color: #464c65; border: 1px solid #464c65;  color: #fff;}
.failure_alert {background-color: #F9FAFC;  border: 1px solid #FF0000;  color: #FF0000;}
.alert_box {   background-position: 0 0;    background-repeat: repeat;    border-radius: 5px;    font-size: 15px;margin-bottom: 15px;padding: 8px;ext-indent: 8px;}

.instrument_id{border-bottom: 1px dotted #dbe1e8 !important;color: #000000;font-size: 11px !important;line-height: 12px !important;max-height: 37px; max-width: inherit !important; min-width: inherit !important; padding: 5px 0 5px 8px !important;width: 100%;}
.instrument_id:hover{background:#6ad2eb;color:#FFF;cursor:pointer;}
#search_instrument{width: 92%; position: absolute;z-index: 999;background-color: #ffffff;text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}

.delivery_show{padding: 13px 0px; max-width: 230px; min-width: 230px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 15px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 20px; border-bottom: 1px #dbe1e8 dotted !important;}
.delivery_no_result{padding: 13px 0px; max-width: 230px; min-width: 230px; padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px; font-size: 15px; max-height: 37px; float: top; background:#FFFF; color:#000000; line-height: 20px; border-bottom: 1px #dbe1e8 dotted !important;}
.delivery_no_result:hover{background:#6ad2eb; color:#FFF;cursor:pointer;}
.delivery_show:hover{ background:#6ad2eb; color:#FFF; cursor:pointer;}
#sales_list{position: absolute;z-index: 999;background-color: #ffffff;text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}

/* for Subcontract Do Salesorder search*/
.subcontract_show{padding: 13px 0px;max-width: 230px;min-width: 230px;padding-left: 9px;padding-top: 9px;border-bottom: #000000 1px;font-size: 15px;max-height: 37px;float: top;background:#FFFF;color:#000000;line-height: 20px; border-bottom: 1px #dbe1e8 dotted !important;}
.subcontract_no_result{padding: 13px 0px;max-width: 230px;min-width: 230px;padding-left: 9px;padding-top: 9px;border-bottom: #000000 1px;font-size: 15px;max-height: 37px;float: top;background:#FFFF;color:#000000;line-height: 20px;border-bottom: 1px #dbe1e8 dotted !important;}

.subcontract_show:hover{background:#6ad2eb;color:#FFF;cursor:pointer;}
#subcontract_list{position: absolute;z-index: 999;background-color: #ffffff;text-align: left;max-height: 150px;overflow-y: scroll;overflow-x: hidden;border: 1px #dbe1e8 solid !important;}

#subcontract_result{ position: absolute;z-index: 999;background-color: #ffffff; text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}
.subcontract_customer_show{padding: 13px 0px;max-width: 230px;min-width: 230px;padding-left: 9px;padding-top: 9px;border-bottom: #000000 1px;font-size: 15px;max-height: 37px;float: top;background:#FFFF;color:#000000;line-height: 20px; border-bottom: 1px #dbe1e8 dotted !important;}
.subcontract_customer_show:hover{background:#6ad2eb;color:#FFF;cursor:pointer;}

/* For Sales order quotation id track*/
#quoat_list{position: absolute;z-index: 999;margin-left: 246px;margin-top: 35px;background-color: #ffffff;text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}
.quotation_single{padding: 13px 0px; max-width: 230px; min-width: 225px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important;}
.quotation_single:hover{ background:#6ad2eb; color:#FFF; cursor:pointer;}
.no_result  {padding: 13px 0px; max-width: 230px; min-width: 224px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important; }
.no_result:hover { background:#4c66a4;color:#FFF; cursor:pointer;}

/* For ClientPO Module Po search*/
.po_single_show   { background-color: #ffffff;    border-bottom: 1px dotted #dbe1e8 !important;    color: #000000;    font-size: 15px;    line-height: 18px;    max-height: 37px;    max-width: 230px;    min-width: 223px;    padding: 9px 0 13px 9px; }
.po_no_result  { background-color: #ffffff;    border-bottom: 1px dotted #dbe1e8 !important;    color: #000000;    font-size: 15px;    line-height: 18px;    max-height: 37px;    max-width: 230px;    min-width: 223px;    padding: 9px 0 13px 9px; }
.po_no_result:hover { background:#4c66a4;color:#FFF; cursor:pointer;}
.po_single_show:hover{  background:#4c66a4;  color:#FFF;  cursor:pointer;}
#po_result{position: absolute;  z-index: 999; }


/* For ClientPO Module SO search*/
.so_single_show   { background-color: #ffffff;    border-bottom: 1px dotted #dbe1e8 !important;    color: #000000;    font-size: 15px;    line-height: 18px;    max-height: 37px;    max-width: 230px;    min-width: 223px;    padding: 9px 0 13px 9px; }
.so_no_result  { background-color: #ffffff;    border-bottom: 1px dotted #dbe1e8 !important;    color: #000000;    font-size: 15px;    line-height: 18px;    max-height: 37px;    max-width: 230px;    min-width: 223px;    padding: 9px 0 13px 9px; }
.so_no_result:hover { background:#4c66a4;color:#FFF; cursor:pointer;}
.so_single_show:hover{  background:#4c66a4;  color:#FFF;  cursor:pointer;}
#so_result{position: absolute;  z-index: 999; }

/* for Customer Candd info  */
#candd_result{position: absolute;z-index: 999;background-color: #ffffff;text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}
.candd_single{padding: 13px 0px; max-width: 230px; min-width: 316px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important;}
.candd_single:hover{ background:#6ad2eb; color:#FFF; cursor:pointer;}
.candd_no_result  {padding: 13px 0px; max-width: 230px; min-width: 224px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important; }
.candd_no_result:hover { background:#4c66a4;color:#FFF; cursor:pointer;}

/* For ClientPO Module Do search*/
.do_single_show   { background-color: #ffffff;    border-bottom: 1px dotted #dbe1e8 !important;    color: #000000;    font-size: 15px;    line-height: 18px;    max-height: 37px;    max-width: 230px;    min-width: 223px;    padding: 9px 0 13px 9px; }
.do_no_result  { background-color: #ffffff;    border-bottom: 1px dotted #dbe1e8 !important;    color: #000000;    font-size: 15px;    line-height: 18px;    max-height: 37px;    max-width: 230px;    min-width: 223px;    padding: 9px 0 13px 9px; }
.do_no_result:hover { background:#4c66a4;color:#FFF; cursor:pointer;}
.do_single_show:hover{  background:#4c66a4;  color:#FFF;  cursor:pointer;}
.do_result{position: absolute;  z-index: 999; }
.float_none{float:none !important;}
.word_break{word-break: break-all;}
.min-height165{min-height:165px;}
.calender_listing li:hover{cursor:default !important;}
.list_of_sales_o_form{margin-top:5px;}
.list_of_sales_o_form label{position:relative;bottom:3px;margin:0 10px;}
.list_of_sales_o_form .quot_display{position:relative;}
.quot_display #quoat_list{margin-left:0;top:0;left:0;width:100%;}
.quot_display #quoat_list .quotation_single{max-width: 100%;}
.padding_t_b10{padding-top:10px !important;padding-bottom:10px !important;background-color: #ccc !important;position:relative;}
#result {position: absolute;z-index: 999;width:92%;z-index:10; min-height:25px;}
#result .no_result{width:100%;max-width:100%;max-height: 100%;}
#result .customer_show{max-height: 100%;}
#result .customer_show_sales{max-height: 100%;}
#result .no_result:hover{background:#6ad2eb;}
#result .preno_result {padding: 13px 0px; max-width: 305px; min-width: 305px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important; }

#result .preno_result:hover{background:#6ad2eb;}
.upload_file_section{margin-left: 10px; width: 98%;}
#sales_list{position: absolute;z-index: 999;width:92%;z-index:10; max-width: 305px; min-width: 305px; }
//.fc-event{width: auto !important;margin-left:51px;margin-top:20px;}
#sales_list .delivery_no_result{padding: 13px 0px; max-width: 305px; min-width: 305px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important; }
#sales_list .delivery_no_result:hover{background:#6ad2eb;}
//#sales_list:hover{background:#6ad2eb;}

/*.has-error1{
    display: none;
    color: #D63301;
}*/
/*.error{
    display: none;
    margin-left: 10px;
}      
 */
.error_show{
    //color: red;
    border: 1px #F00 solid;
}
/* for Onsite Schedule*/
#onsite_list{position: absolute;z-index: 999;background-color: #ffffff;text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}
.onsite_qo_single{padding: 13px 0px; max-width: 230px; min-width: 225px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important;}
.onsite_qo_single:hover{ background:#6ad2eb; color:#FFF; cursor:pointer;}
.no_result  {padding: 13px 0px; max-width: 230px; min-width: 224px;padding-left: 9px; padding-top: 9px; border-bottom: #000000 1px;font-size: 13px; max-height: 37px; float: top; background:#FFFF;  color:#000000;  line-height: 18px; border-bottom: 1px #dbe1e8 dotted !important; }
.no_result:hover { background:#4c66a4;color:#FFF; cursor:pointer;}

/* for instrument for Customer Module*/
.instrument_result{width: 92%;position: absolute;z-index: 999;background-color: #ffffff;text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}
.customer_instrument_show{border-bottom: 1px dotted #dbe1e8 !important;color: #000000;font-size: 11px ;line-height: 12px;max-height: 37px; max-width: inherit; min-width: inherit; padding: 5px 0 5px 8px;width: 100%;}
.customer_instrument_show:hover{ background:#6ad2eb; color:#FFF; cursor:pointer;}
.instrument_result .no_result{width:100%;max-width:100%;max-height: 100%;}
.instrument_result .customer_instrument_show{max-height: 100%;}
.instrument_result .customer_instrument_show{max-height: 100%;}
.instrument_result .no_result:hover{background:#6ad2eb;}
.customerins_id{border-bottom: 1px dotted #dbe1e8 !important;color: #000000;font-size: 11px !important;line-height: 12px !important;max-height: 37px; max-width: 100% !important; min-width: inherit !important; padding: 5px 0 5px 8px !important;width: 100%;}
.customerins_id:hover{background:#6ad2eb;color:#FFF;cursor:pointer;}
#search_cusinstrument{ position: absolute;z-index: 999;background-color: #ffffff;text-align: left; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}
#search_cusinstrument{width:100%;max-width:92%;}
// Pagination
.custom_pagination{margin-left:15px;}
.custom_pagination li:last-child>a{background: #1bbae1;color: #fff;}
/* #example-datatable_wrapper{overflow-x: auto;} */
/*dropdown all pages common*/
.instrument_drop{width: 92% !important;position: absolute;z-index: 999;background-color: #ffffff;text-align: left;max-width:inherit !important; max-height: 150px;overflow-y: scroll;overflow-x: hidden; border: 1px #dbe1e8 solid !important;}
.instrument_drop_show,.instrument_drop .no_result{border-bottom: 1px dotted #dbe1e8 !important;color: #000000;font-size: 11px !important;height:auto !important;line-height: 12px !important;max-height: 37px; max-width: inherit !important; min-width: inherit !important; padding: 5px 0 5px 8px !important;width: 100%;}
.instrument_drop_show:hover,.instrument_drop .no_result:hover{background-color: #6ad2eb !important;color:#fff;}
/*uncertainty style phase2*/
.uncertainty_view .form-control{padding: 1px 7px; height: 25px;}
.uncertainty_view .form-group{padding: 5px;}
.uncertainty_view textarea.form-control{height:auto;}
.uncertainty_view input[type="checkbox"]{margin: 10px 0 0;}
.uncertainty_view .padding_l_7{padding-left: 7px;}
.uncertainly_table{margin-bottom: 20px;min-height: 190px;overflow-x: auto;}
.uncertainly_table th,.uncertainly_table td{font-size: 11px !important; padding: 4px !important;}
.action_un_btn{width:55px;}
.action_un_btn a{margin-right:5px;}

/*certificate form table*/
.certificate_table { margin-bottom: 20px;}
.certificate_table th,.certificate_table td{font-size: 11px !important; padding: 2px !important;width:65px;}
.certificate_table table{width: 90%;margin-bottom:10px;}
.certificate_table td input,.certificate_table td select{ width:100%;}
.c_dark_bg{background:#666;color:#fff;}
.c_light_bg{background:#f1f1f1;height:35px;}
.c_dark_bg th,.c_light_bg td{font-weight:bold !important}
/*.certificate_tab{height: 438px;overflow-x: auto;}*/
.pos_relative{position:relative; display:inline-block;width:100%;}
.c_refress_blog{border: 1px solid #eee;position: absolute;right: 0;top: 0;}
.c_refress_blog_input{font-size: 10px; padding: 0 5px; }
.c_ref_btn{height: 38px;padding: 7px; background:#f1f1f1;}
.c_ref_btn button{font-size: 10px;padding: 2px;width: 100%;}
.c_overflow{height: 100px;overflow: auto; width:100px;float:left; overflow-y: scroll;}
.c_ref_btn i{margin-right:8px;}
.c_refress_blog_input label { bottom: 2px;margin-bottom: 0; position: relative;}
.pref_ref{background: #666;color: #fff;font-weight: bold; padding: 10px 5px;text-transform: uppercase;}
.c_form1{}
.c_form1 .form-group { display: inline-block;margin-bottom: 5px; padding: 5px;    width: 100%;}
.c_form1 label{text-align:right;line-height: 25px;}
.c_form1 .form-control {padding: 1px 7px; height:25px;}
.c_form1 textarea.form-control { height: auto;}
.c_form2 .form-control{margin-bottom:10px;}
.uncertainly_tab{}
.certificate_top_search{margin-top:15px;}
.uncertainly_tab h4{text-align: center;}
.certificate_top_search table{float: left;margin-left: 20px;margin-right: 10px; position: relative;    width: 43%;}
.certificate_top_search table th,.certificate_top_search table td{font-size:11px !important;padding:3px !important;}
.certificate_top_search1 .c_light_bg{height:20px;}
.certificate_top_search .certificate_top_search1 {float: right;margin-left: 20px;margin-right: 10px;position: relative;width: 30%; background:#fff;}
.certificate_top_search .certificate_top_search1 td{font-weight:bold;text-align:left !important;}
.c_top_search{float: right;width: 40%;}
.c_top_search label{float: left;margin-right: 10px;margin-top: 5px;}
.c_top_search select{ float: left;height: 25px;padding: 2px;width: 81%;}
.list_quotation{ margin-top: 10px;}
.list_quotation select{float: left; margin-right: 15px; width: 30%;}
.list_quotation input{  float: left; margin-right: 25px; width: 30%;}
.list_quotation .remove_field{}
.custom_calculate .input{width:31%;float:left;}
.custom_calculate .add_field_button{margin-right: 17px;}
.title_val{ display:none;}
/*.auto_overflow{overflow:auto;width:100%;}*/
.auto_overflow table{white-space: nowrap;}
.table-responsive-scroll table{white-space: nowrap;}
.datalog{background:#ddd; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; float: left; margin: 0 0 15px; padding: 30px !important; width: 100%;}
.datalog .submit{margin-top: 3px;}
#subcontract_result{ width:91%;}
#subcontract_result .po_customer_show{padding:10px;}
#subcontract_result:hover .po_customer_show{color:#fff; background: #6ad2eb;}
#subcontract_result .subcontract_customer_show{ min-width: inherit; max-width: inherit;}
.table-responsive-scroll table *{-webkit-box-sizing: content-box !important;
-moz-box-sizing: content-box !important;
box-sizing: content-box !important;}
.dataTable th input{color: #394263;font-size: 11px;margin: 1px 0; max-width: 100%;padding: 6px 8px;border-radius: 4px; border: 1px solid #ccc;background-color: #fff; width: 100%;}
.dataTables_paginate{ background: none !important; border: medium none !important;}
.dataTables_paginate .paginate_button {margin-left: 5px;margin-right: 5px; color: #1bbae1; border-radius: 25px !important;font-size: 12px;padding: 5px 10px; background-color: #fff; line-height: 1.42857;cursor:pointer;}
.dataTables_paginate .paginate_button:hover{background-color: #1bbae1;color:#fff; text-decoration: none;}
.dataTables_paginate .current{background-color: #1bbae1;color:#fff; text-decoration: none;}
.dataTables_info{float:left;border:none !important;width: 47% !important;}
.pagination_search_input{color: #394263;font-size: 11px;margin: 5px 0; max-width: 100%;width: 65px;padding:3px;border-radius: 4px; border: 1px solid #ccc;background-color: #fff; }
.dataTables_length label{float: right;font-size: 9px !important;}
.dataTables_length label select{font-size: 9px;height: auto; padding: 2px;}

#range-table-1_filter ,#brand-table-1_filter ,#instrument-table-1_filter ,#procedures-table-1_filter ,#unit-table-1_filter, #quotation-table-1_filter ,#CustomerTag-table-1_filter , #customer-table-1_filter, #salesorder-table-1_filter ,#deliveryorder-table-1_filter , #purchaseorders-table-1_filter , #subcontractdos-table-1_filter , #proformas-table-1_filter , #purchaserequisitions-table-1_filter , #Reqpurchaseorders-table-1_filter ,#TrackInComplete-table_filter{display: none;}

.new_scroll{width:100% !important; overflow: auto;}
table { white-space: nowrap; }
.table thead > tr > th{ background:#646464;color:#fff; padding-top: 5px; padding-bottom: 5px;font-size:11px; text-transform: uppercase;}

.color-change { background: none !important;}

table th.resizing {
    cursor: col-resize !important; z-index: 1000;position: relative;
}
.new_scroll2{width:100% !important; overflow: auto;}
.new_scroll3{width:100% !important; overflow: auto;}
.new_scroll4{width:100% !important; overflow: auto;}
.chosen-container { width:325px !important;}
.new_scroll6{width:94% !important; overflow: auto; margin: 0 auto 20px;}
#val_instrument_type_id_chosen{width:100% !important;}
.edit_gst_percent{margin-right: 10px;float:left;}
.edit_gst_div{display: inline-block;}
.edit_gst_percent input{float: left;font-size: 10px;height: auto !important;margin: 0 23px;padding: 3px; width: auto !important;}